* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/bgimage.png");
}

#pic {
    height: 200px;
    width: 200x;
}

p {
    padding: 0px;
    font-family: Arial, Helvetica-Neue, Helvetica, sans-serif;
    margin-top: 0px;
}

.navbar {
    padding: 0px;
}

.navbar-custom {
    color: white
}

.nav-link {
    color: black
}
.navbar-brand {
    font-size: 24px;
    font-family: Georgia, Times, Times-New-Roman, serif;
    padding: 20px;
    background-color: #4aaaa5;
    color: white;
    margin-left: 20px;
}

.navbar-toggler {
    background-color: gray;
}

.line {
    background-color: white;
    width: 100%;
    height: 2px;
}

h2 {
    font-family: Georgia, Times, Times-New-Roman, serif;
    color: #4aaaa5;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 0px 30px;
}

.about {
    max-width: 960px;
    margin-top: 25px;
    margin: 25px;
    background-color: white;
}

.col-md-12 {
    padding: 30px;
}

.bottom-footer {
    text-align: center;
    background-color: gray;
    color: #4aaaa5;
    margin-top: 40px;
    padding: 10px;
    border-top: solid 5px #4aaaa5;
    width: 100%;
}



.portfolio {
    margin-top: 25px;
    background-color: white;
    margin: 25px;
    margin-bottom: 100px;
}

.card {
    padding: 15px;
    border: 0px;
}

.contact {
    margin-top: 25px;
    background-color: white;
    margin: 25px;
    margin-bottom: 100px;
}

.btn {
    padding: 20px;
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, Times, Times-New-Roman, serif;
    margin-bottom: 10px;
}

@media (max-width 767px) {
    .about {
        margin: auto;
    }
}
