* {
    box-sizing: border-box;
}

body {
    /* background-image: url("../images/bgimage.png"); */
    background-color: black;
}

#pic {
    height: 200px;
    width: 200x;
}

#bio {
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
}

.navbar {
    padding: 0px;
}

.navbar-custom {
    color: white
}

.nav-link {
    color: black
}
.navbar-brand {
    font-size: 24px;
    font-family: 'Lora', serif;
    padding: 20px;
    background-color: #552583;
    color: white;
    margin-left: 20px;
}

.navbar-toggler {
    background-color: gray;
}

.line {
    background-color: white;
    width: 100%;
    height: 2px;
}

h2 {
    font-family: 'Lora', serif;
    color: #552583;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 0px 30px;
}

.about {
    max-width: 960px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: white;
    border: solid 5px #FDB927; 
}

.col-md-12 {
    padding: 30px;
}

hr {
    color: #FDB927;
    background-color: #FDB927;
}

.footer {
    text-align: center;
    background-color: white;
    color: #552583;
    /* margin-top: 40px; */
    padding: 10px;
    border-top: solid 5px #552583;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.portfolio {
    margin-top: 25px;
    background-color: white;
    margin: 25px;
    margin-bottom: 100px;
    border: solid 5px #FDB927;
    margin-left: auto;
    margin-right: auto;
}

.port-pic {
    text-align: center;
}

.pro-pic {
    height: 450px;
    width: 450px;
}

.port-pic:hover {
    border: solid 3px #552583
}

#res {
    color: #552583;
    text-decoration: underline;
    text-align: center;
}

.fa-file-pdf {
    color: #552583;
    font-size: 450px;
    text-align: center,
}

.card {
    padding: 15px;
    border: 0px;
}

.contact {
    margin-top: 25px;
    background-color: white;
    margin: 25px;
    margin-bottom: 100px;
    border: solid 5px #FDB927;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    padding: 20px;
    background-color: #552583;
    color: white;
    font-family: Georgia, Times, Times-New-Roman, serif;
    margin-bottom: 10px;
}

.fab {
    font-size: 24px;
    color: #552583;
}

.quaren {
    margin-top: 120px;
}

.pass {
    margin-top: 120px;
}

.weather {
    margin-top: 120px;
}

/* @media (max-width 767px) {
    .about {
        margin: auto;
    }
} */
